name: CI

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Package
      uses: BigWigsMods/packager@v2
      with:
        args: -zd

    - name: "Archive"
      uses: "actions/upload-artifact@v4"
      if: success()
      with:
        name: Clicked
        path: .release/
        include-hidden-files: true
