name: Release
on:
  push:
    tags:
      - "**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1
    - name: "Run Luacheck"
      uses: nebularg/actions-luacheck@v1
      with:
        args: "--no-color -q"
    - name: "Generate recent changes"
      uses: kemayo/actions-recent-changelog@v1
      with:
        input: CHANGELOG.md
        output: RECENT_CHANGES.md
    - name: Package Classic
      uses: BigWigsMods/packager@master
      with:
        args: -g classic
      env:
        CF_API_KEY: ${{ secrets.CF_API_KEY }}
        GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
        WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
        WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
    - name: Package Retail
      uses: BigWigsMods/packager@master
      env:
        CF_API_KEY: ${{ secrets.CF_API_KEY }}
        GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
        WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
        WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
